.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container * {
  box-sizing: border-box;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
  font-weight: 500;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #FFFFFF;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333333;
  color: #fd0202;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-inner li {
  width: 100px;
}

.labelDarkMode {
  color: #CCCCCC;
}

.labelLightMode {
  color: #333333;
}

.submitContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.formError {
  color: #FF0000;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .5px;
  font-size: 17px;
  align-self: flex-end;
}

.spacingContainer {
  width: 100%;
  height: 20px;
}

/* Dark Mode CSS */


.flex-outer-dark {
  list-style-type: none;
  padding: 0;
}

.flex-outer-dark {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer-dark li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer-dark > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer-dark li label,
.flex-outer-dark li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
  font-weight: 500;
}

.flex-outer-dark > li > label,
.flex-outer-dark li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer-dark > li > label + * {
  flex: 1 0 220px;
}

.flex-outer-dark li p {
  margin: 0;
}

.flex-outer-dark li input:not([type='checkbox']),
.flex-outer-dark li textarea {
  padding: 15px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #CCCCCC;
  color: #FFFFFF;
  word-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.flex-outer-dark li input:not([type='checkbox']):focus,
.flex-outer-dark li textarea:focus {
  background-color: #666666;
}

.flex-outer-dark button {
  align-self: flex-end;
  padding: 8px 20px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  background: transparent;
  color: #CCCCCC;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: .09em;
  transition: 0.5s;
  cursor: pointer;
}

.flex-outer-dark button:hover {
  background-color: #000000;
  color: #CCCCCC;
}

.formSuccessDark {
  color: #CCCCCC;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .5px;
  font-size: 17px;
  align-self: flex-end;
}

/* Light Mode CSS */


.flex-outer-light {
  list-style-type: none;
  padding: 0;
}

.flex-outer-light {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer-light li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer-light > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer-light li label,
.flex-outer-light li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
  font-weight: 500;
}

.flex-outer-light > li > label,
.flex-outer-light li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer-light > li > label + * {
  flex: 1 0 220px;
}

.flex-outer-light li p {
  margin: 0;
}

.flex-outer-light li input:not([type='checkbox']),
.flex-outer-light li textarea {
  padding: 15px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #999999;
  color: #000000;
  word-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.flex-outer-light li input:not([type='checkbox']):focus,
.flex-outer-light li textarea:focus {
  background-color: #C6C6C6;
}

.flex-outer-light button {
  align-self: flex-end;
  padding: 8px 20px;
  border: 1px solid #333333;
  border-radius: 5px;
  background: transparent;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: .09em;
  transition: 0.5s;
  cursor: pointer;
}

.flex-outer-light button:hover {
  background-color: #333333;
  color: #FFFFFF;
}

.formSuccessDark {
  color: #333333;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .5px;
  font-size: 17px;
  align-self: flex-end;
}